*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #000;
	font: 400 15px/22px 'Popins', 'Arial', 'Helvetica', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
	transform: .4s;
}
img {
  all: unset;
}
ul li {
	list-style-type: none;
	margin-bottom: 0px;
}
button{
	display: block;
	border: none;
	font: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: .4s;
}
.container{
	max-width: 1440px;
	margin:  0 135px;
}
.btn-primary{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	background-color: #53A835;
	border-radius: 7px;
	transition: .4s;
}
.btn-primary:hover{
	background-color:#2c4f18;
}
/* HEADER*/
.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px, 0;
}
.header-nav__item{
	font: 400 18px/22px 'Montserrat', sans-serif;
	display: inline-block;
	margin-right: 30px;
}
.header-nav__item:last-child{
	margin-right: 0;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user__item span{
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}
.header-user__item img{
	margin-right: 10px;
	padding-right: 5.83px;
}
.header-user__icon{
	display: flex;
	justify-content: center;
}
/* BANER */
.banner-warp{
	padding-bottom: 150px;
	background: url(../img/header_photo.png);
	height: 100%;
	width: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
}
.banner{
	width: 520px;
	margin-right: 90px;
	margin-left: 835px;
	color: #fff;
	padding-top: 400px;
}
.banner__text{
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.banner__trend{
	font-size: 80px;
	line-height: 120px;
	white-space: nowrap;
}
.banner-link-warp{
	margin-top: 20px;
}
.banner__link{
	font: 500 18px/22px 'Montserrat', sans-serif;
	padding: 5px 58px;
}



